*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    i{
        color: #0463FA;
        font-size: 12px;
    }
    span{
        font-size: 12px;
        font-weight: 500;
        color: #948a8a;
    }
}
 
 .nav-top-row{
    display: flex;
    align-items: center;
}
.social-link i{
    margin-right: 12px;
    font-size: 14px;
}
.btn{
    border-radius: 0;
    i{
        color: white;
        margin-left: 10px;
        font-size: 14px;
    }
}
.navbar-brand{
    margin-left: 100px;
    font-weight: 700;
    font-size: 35px;
}
a.nav-link {
    font-size: 14px;
    color: #E2E5E8;
}
/* hero-section */
.hero-row{
    & h1{
    font-weight: 700;
    font-size: 46px;
    margin-top: 120px;
    
    }
   
    .count-col-4{
        border-left: 2px solid white;
        margin: 30px;
        

         .col-des{
            margin-left: 20px;

        }
        & h3{
            font-size: 34px;
            font-weight: 700;
        }
        span{
            color: white;
            font-size: 16px;
            font-weight: 400;

        }
    }
}
.carousel-item h1{
    padding-bottom: 250px;
    font-size: 70px;
}
/* about-section */
.col-images{
    position: relative;
    left: 20%;
    .img-1{
        border-radius: 10px;
        width: 80%;
    }
    
    .img-2{
        position: absolute;
        bottom: -28%;
        left: -27%;
        max-width: 50%;
        border: 16px solid white;
        border-radius: 15px;
    }
}
.about-btn{
    outline: none;
    border-radius: 25px ;
    border-color: #C7DCFB;
    color: #5c5a5a;
    padding: 3px 20px;
    font-size: 14px;
}
.about-right{
    margin-left: 35px;
    & h1{
        font-size: 36px;
        color: #1B2C51;
        font-weight: 700;
        padding-bottom: 20px;
    }
    p{
        color: #5c5a5a;
        text-align: left;
    }
    .about-info{
        .info{
            padding-bottom: 12px;
        }
        i{
            border: 1px solid #0463FA;
            border-radius: 50%;
            padding: 2px;
            font-size: 10px;
            margin-right: 15px;
        }
        span{
            font-size: 15px;
            font-weight: 400;
            
        }
        
    }
    .about-btn2{
        background-color: #0463FA;
        border-radius: 25px;
        outline: none;
        border: none;
        color: white;
        padding: 10px 30px;
        margin-top: 25px;
    }
}
/* service-section */